<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing Game</title>
    <link rel="stylesheet" href="css/game.css">
</head>
<body class="typing-game">
    <div class="game-board">
        <script class="game-bubble-tmpl" type="text/html">
            <span class="bubble bubble-<%= letter %>" style="left: <%= x %>px; top: <%= y%>px; background-color: <%= color %>; display: <%= display %>"><%= letter %></span>
        </script>
    </div>
    <div class="game-score"></div>
    <div class="game-time"></div>
    <div class="game-start">
        <a class="game-start-button">Start</a>
    </div>
    <div class="game-over">
        <a class="game-over-button">Game over! Try again!</a>
    </div>
    <div class="game-leaders-board"></div>
</body>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/underscore.js"></script>
<script src="scripts/game.js"></script>
</html>
